.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small screan  */
@media (min-width: 510px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 501px) {
    .container {
        width: 480px;
    }
}

/* medium screan */
@media (min-width: 992px) {
    .container {
        width: 500px;
    }
}

/* larg screan */
@media (min-width: 1200px) {
    .container {
        width: 500px;
    }
}
.heading {
    font-size: 35px;
    font-weight: bolder;
    text-transform: uppercase;
}

.intro {
    background-color: #2F5A78;
    color: white;
    padding-left: 16px;
    padding-bottom: 8px;
    margin-bottom: 4px;
}

body {
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif
}

.prof {
    font-size: 20px;
    font-weight: lighter;
}

.contactinfo {
    font-size: 15px;
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #eeeeee;
}

.subheading {
    font-size: 20px;
    font-weight: bolder;
    color: #2F5A78;
    text-transform: uppercase;
}

.heading {
    font-size: 35px;
    font-weight: bold;
}

.subheading {
    font-size: 20px;
    font-weight: bolder;
}

.intro {
    background-color: #2F5A78;
    color: white;
}

.subheading {
    font-size: 20px;
    font-weight: bolder;
    color: #2F5A78;
}

.icon {
    color: #2F5A78;
}

.date {
    font-size: 16px;
    color: #2F5A78;
    font-weight: bold;
}

.skills ul li {
    display: flex;
    justify-content: space-between;
}

.skills ul li .skill_prog {
    width: 60%;
    height: 6px;
    position: relative;
}

.skills ul li .skill_prog span {
    position: absolute;
    height: 100%;
    background: #2F5A78;
    padding-right: 30px;
}

.skill_name {
    width: 50px;
}

.skill_per {
    margin-right: 10px;
}

img {
    float: right;
    border-radius: 50%;
}

.icon {
    float: left;
    color: #2F5A78;
}
